.editor {
  font-size: var(--font-size-sm);
  background-color: var(--editorBackgroundColor);
  color: var(--mainTextColor) !important;
  font-family: var(--font-family-mono);
  border-radius: 1rem;
  line-height: 1.45;
}

.editor textarea,
.editor pre {
  line-height: 1.45 !important;
  letter-spacing: 0 !important;
}
