.editorContainer {
  max-height: 500px;
  overflow: auto;
  margin: 2rem auto;
  width: 90%;
  border-radius: var(--radiusMedia);
}

.editor {
  font-size: 1rem;
  background-color: var(--editorBackgroundColor);
  color: var(--mainTextColor) !important;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono, Menlo, monospace;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.runButton {
  background-color: var(--mainTextColor);
  border: solid 2px var(--mainTextColor);
  border-radius: 0.5rem;
  color: var(--secondaryTextColor);
  padding: 0.3rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "CircularStd-Medium", sans-serif;
  margin: 0 1rem;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
}

.runButton:hover {
  background-color: var(--editorBackgroundColor);
  color: white;
}

.outputArea {
  margin: 1rem auto;
  width: 90%;
  white-space: pre;
  border: solid 1px var(--mainTextColor);
  color: var(--mainTextColor);
  border-radius: 0.75rem;
  padding: 1rem;
  text-align: left;
  overflow-x: auto;
}

@media (max-width: 1024px) {
  .runButton {
    width: min(16rem, 100%);
    margin: 0;
  }
}
