.documentationContainer {
  margin: 5rem var(--pagePadding) 0;
  color: var(--mainTextColor);
}

.docsHeading {
  margin-bottom: 3rem;
  font-family: var(--font-family-heading);
}

.docsSubHeading {
  font-family: var(--font-family-heading);
}

.docsDesc {
  font-family: var(--font-family-body);
  color: var(--softTextColor);
  line-height: 1.7;
}

@media (max-width: 1024px) {
  .documentationContainer {
    margin: 5rem var(--pagePaddingMobile) 0;
  }
}
