.previewContainer {
	margin: 1.5rem 0;
	padding: 1.5rem;
	font-family: 'CircularStd-Book', sans-serif;
}

.dateText {
	margin: 0;
  color: var(--mutedTextColor);
}

.blogTitle {
	font-family: 'CircularStd-Black', sans-serif;
	padding: 0.5rem 0 0.25rem;
  margin: 0;
}

.blogPreviewText {
	margin: 0;
  line-height: 1.7;
  color: var(--softTextColor);
}

.blogReadMoreLink {
	padding-top: 1.5rem;
	display: inline-flex;
  text-decoration: none;
  font-family: "CircularStd-Medium", sans-serif;
}
