.introContainer {
  justify-content: center;
  margin: 2rem auto;
  width: 70%;
  text-align: center;
}

.introHeading {
  font-family: var(--font-family-display);
  color: var(--mainTextColor);
}

.introContent {
  font-family: var(--font-family-body);
  color: var(--softTextColor);
}

@media (max-width: 1024px) {
  .introContainer {
    width: 90%;
  }
}
