.footerCustom {
  position: relative;
  border-top: solid var(--mainTextColor);
  font-family: "CircularStd-Book", sans-serif;
  margin-top: 4rem;
}

.socialLinks {
  justify-content: center;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.socialLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--mainTextColor);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.socialLink:hover {
  color: var(--accentColorHover);
}

.socialLink svg {
  width: 18px;
  height: 18px;
}


@media only screen and (max-width: 1024px) {
  .footerCustom {
    text-align: center;
  }

  .socialLinks {
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0rem;
    gap: 0.75rem;
  }

  .socialLink {
    display: flex;
    align-items: center;
  }
}
